@{
  Layout = "_Layout";
}

@model RecordBox.Models.Record

<h2>Edit</h2>

<h4>Edit this record: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecordId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  
  @Html.LabelFor(model => model.Ingredients)
  @Html.EditorFor(model => model.Ingredients)

  @Html.LabelFor(model => model.Instructions)
  @Html.EditorFor(model => model.Instructions)

  @Html.Label("Select genre")
  @Html.DropDownList("GenreId", "Select Genre")
  <input type="submit" value="Save" class="btn btn-success" />
}